<div class="container">
  <form class="reset-password-form" (ngSubmit)="resetPassword()" #resetForm="ngForm">
    <div class="tittle-container">
      <h1 class="reset-password-title">Restablecer clave</h1>
    </div>      
    <div class="alert-message" *ngIf="showAlert">
      {{ alertMessage }}
    </div>
    <div class="input-container floating-label">
      <div class="password-input-container">
        <input type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Clave nueva" name="password" id="password" [(ngModel)]="password" class="reset-password-input" (input)="onPasswordInput($event)" required pattern="[0-9]{4}">
        <label>Clave nueva</label>
        <span class="password-toggle-btn" (click)="togglePasswordVisibility()">
          <img [src]="showPasswordIcon">
        </span>
      </div>
    </div>
    <div class="input-container floating-label">
      <div class="validatePassword-input-container">
        <input type="{{ hideValidatePassword ? 'password' : 'text' }}" placeholder="Confirmar clave nueva" name="validatePassword" id="validatePassword" [(ngModel)]="validatePassword" class="reset-password-input" (input)="onValidatePasswordInput($event)" required pattern="[0-9]{4}">
        <label>Confirmar clave nueva</label>
        <span class="password-toggle-btn" (click)="toggleValidatePasswordVisibility()">
          <img [src]="showValidatePasswordIcon">
        </span>
      </div>
    </div>
    <div class="input-container">
      <button type="submit" class="reset-password-button" (click)="resetPassword()">Restablecer</button>
    </div>
  </form>
  <footer>
    <p>&copy; Desafío Técnico Chek Agosto 2023 - Claudio Andrés Bascuñán Valdivia</p>
  </footer>
</div>
