<div class="container">
  <form class="forgot-password-form">
    <div class="logo-container">
      <img src="../../assets/logoChek.svg" class="logo-img">
    </div>
    <div class="tittle-container">
      <h1 class="forgot-password-title">Recupera tu clave</h1>
    </div>
    <div class="alert-message" *ngIf="showAlert">
      {{ alertMessage }}
    </div>
      <div class="input-container floating-label">
        <input type="text" placeholder="Correo eléctronico" name="email" id="email" [(ngModel)]="email" class="forgot-password-input">
        <label>Correo eléctronico</label>
      </div>
      <div class="input-container">
        <button (click)="sendRecovery()" class="forgot-password-button">Enviar</button>
      </div>
      <label class="not-register-label">¿No tienes cuenta?</label>
      <div class="create-account">
        <button routerLink="/register" class="create-account-button">Crear cuenta nueva</button>
      </div>
      <label class="have-account">¿Ya tienes cuenta?</label>
      <div class="create-account">
        <button routerLink="/login" class="login-button">Iniciar sesión</button>
      </div>
    </form>
    <footer>
      <p>&copy; Desafío Técnico Chek Agosto 2023 - Claudio Andrés Bascuñán Valdivia</p>
    </footer>
</div>